{% extends 'basic.html' %}

{% block title %}
    About Us - Student Portal
{% endblock title %}

{% block about %}
    menu-active
{% endblock about %}

{% block content %}
<div class="container">
    <h2 class="text-center text-primary">about Us</h2>
    <p class="text-center">Welcome to the Student Portal! We are dedicated to providing students with the resources and support they need to succeed.</p>
    <div class="row">
        <div class="col-md-6">
            <h3>Our Mission</h3>
            <p>Our mission is to build a platform that enables the alumni community to stay connected and have a powerful and inclusive voice in GITAM’s endeavors.</p>
        </div>
        <div class="col-md-6">
            <h3>Our Vision</h3>
            <p>To forge a powerful community of deeply connected alumni helping each other and the University thrive.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Our Values</h3>
            <ul>
                <li>Strive for excellence</li>
                <li>Build a strong community</li>
                <li>Serve with dedication</li>
                <li>Celebrate our heritage</li>
                <li>Excellence in Service</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Our Goals</h3>
            <ul>
                <li>Understand our Alumni</li>
                <li>Enhance Alumni Communication</li>
                <li>Facilitate Alumni Chapters and Interest Groups</li>
                <li>Recognize our Alumni</li>
                <li>Alumni Representation in University Governance</li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %} 